<head>
    <title>SDJS Website</title>
</head>
<p>Hi there, Thanks for choosing SDJSB. This is just a message to confirm that the webserver is running fine!<br>You can edit the contents of this page in the <code>website/index.ejs</code> file.<br>Please remember to support my work by leaving credits to AstroLunar in your website / bot.</p>

<!-- EJS Files are essentially HTML files but are able to carry data from ExpressJS to the Frontend easily. -->
<!-- Please remember to support my work by leaving credits to AstroLunar in your website / bot. -->